<div class="page_title">
  <h1>Create Shop Step1</h1>
</div>

<div class="container m-5">
  <%= form_with model: @shop, url: shops_path, local: true do |f| %>
    <%= render 'parts/user/error_message', model: f.object %>
    <div class="form-inline col-form-label-sm m-4">
      <%= f.label :'ショップ画像（任意）　　　　　' %>
      <%= f.attachment_field :image, class:"form-inline" %>
    </div>

    <div class="form-inline col-form-label-sm m-4">
      <%= f.label :'ショップ名　　　　　　　　　　' %>
      <%= f.text_field :name, class:"form-control", placeholder:'フリーモール', autofocus: true %>
    </div>

    <div class="form-inline col-form-label-sm m-4">
      <%= f.label :'ショップ説名　　　　　　　　　' %>
      <%= f.text_area :introduction, class:"form-control", placeholder:'フリーモールです', size: "60x4" %>
    </div>

    <div class="form-inline col-form-label-sm m-4 ">
      <%= f.label :'ショップジャンル　　　　　　　' %>
      <%= f.collection_select(:shop_genre_id, @shop_genres, :id, :name, prompt: "選択して下さい", class: 'form-control') %>
      <%= f.submit "　Next　", class:"btn btn-primary w-25 btn-sm ml-5" %>
    </div>
  <% end %>
</div>