<div class="page_title">
  <h1><%= @shop.name %></h1>
</div>
<div class="container">
  <div class="d-flex justify-content-between my-3">
    <%= attachment_image_tag @shop, :image, fallback: "no_image.jpg", size: "220x150" %>
    <%= attachment_image_tag @add_shop_images, :image, fallback: "no_image.jpg", size: "220x150" %>
    <%= attachment_image_tag @add_shop_images, :image, fallback: "no_image.jpg", size: "220x150" %>
    <%= attachment_image_tag @add_shop_images, :image, fallback: "no_image.jpg", size: "220x150" %>
  </div>
</div>

<div class="page_title">
  <h3>Items</h3>
</div>
<div class="container">
  <div class="d-flex justify-content-between my-3">
    <%= attachment_image_tag @items, :image, fallback: "no_image.jpg", size: "220x150" %>
    <%= attachment_image_tag @items, :image, fallback: "no_image.jpg", size: "220x150" %>
    <%= attachment_image_tag @items, :image, fallback: "no_image.jpg", size: "220x150" %>
    <%= attachment_image_tag @items, :image, fallback: "no_image.jpg", size: "220x150" %>
  </div>
</div>

<div class="page_title">
  <h3>Introduction</h3>
</div>
<div class="container m-5">
  <p><%= @shop.introduction %></p>
</div>

<% if @shop.address? %>
  <div class="page_title">
    <h3>Shop Address</h3>
  </div>
  <div class="container m-5">
    <p><%= @shop.prefectures + @shop.address %></p>
  </div>
<% end %>

<% if @shop.official_hp? %>
  <div class="page_title">
    <h5>Official Hp</h5>
  </div>
  <div class="container my-2 ml-4">
    <%= text_url_to_link(h(@shop.official_hp)).html_safe %>
  </div>
<% end %>

<div class="text-right mx-5 mt-5 mb-2">
  <%= link_to 'Shop Delete', shop_path(@shop), method: :delete, data: {confirm: '本当にショップを削除しますか？'},  class:"btn btn-danger btn-lg" %>
</div>