<div class="page_title">
  <h1 class="h4"><%= @shop.name %></h1>
  <% if @shop.user_id == current_user.id %>
    <div class="ml-auto"><%= link_to "Edit Shop", edit_shop_path(@shop), class:"btn btn-outline-primary btn-sm bg-white" %></div>
  <% end %>
</div>
<div class="container">
  <div class="d-flex my-3">
    <%= attachment_image_tag @shop, :image, fallback: "no_image.jpg", size: "220x220", class:'mr-3' %>
    <%= attachment_image_tag @add_shop_images, :image, fallback: "no_image.jpg", size: "220x220", class:'mr-3' %>
    <%= attachment_image_tag @add_shop_images, :image, fallback: "no_image.jpg", size: "220x220", class:'mr-3' %>
    <%= attachment_image_tag @add_shop_images, :image, fallback: "no_image.jpg", size: "220x220", class:'mr-3' %>
  </div>
</div>

<div class="page_title">
  <h5>Items</h5>
</div>
<div class="container">
  <div class="d-flex my-3">
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <div class="d-flex flex-column text-center">
          <div class="mr-3"><%= attachment_image_tag item, :image, fallback: "no_image.jpg", size: "220x220" %></div>
          <p class="mt-1 text-dark"><%= item.name.truncate(12) %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex">
    <% if @items.count == 4 %>
      <div class="ml-auto"><%= link_to "See more", items_path(order_sort: 0, id: @shop.id), class:"h4" %></div><!--item/indexで遷移元により表示するアイテムを変えたい為、リンクにパラメーターを付与-->
    <% end %>
  </div>
</div>

<div class="page_title">
  <h5>Introduction</h5>
</div>
<div class="container m-5">
  <p><%= @shop.introduction %></p>
</div>

<% if @shop.address? %>
  <div class="page_title">
    <h5>Shop Address</h5>
  </div>
  <div class="container m-5">
    <p><%= @shop.prefectures + @shop.address %></p>
  </div>
<% end %>

<% if @shop.official_hp? %>
  <div class="page_title">
    <h6>Official Hp</h6>
  </div>
  <div class="container my-2 ml-5">
    <%= text_url_to_link(h(@shop.official_hp)).html_safe %>
  </div>
<% end %>

<% if @shop.user_id == current_user.id %>
  <div class="text-right mr-3 mt-5 mb-2">
    <%= link_to 'Shop Delete', shop_path(@shop), method: :delete, data: {confirm: '本当にショップを削除しますか？'},  class:"btn btn-danger btn-lg" %>
  </div>
<% end %>