<div class="bg-white text-left pl-5 side_bar">
  <nav class="vh-100">
    <ul class="vh-100 d-flex flex-column px-3">
      <li class="m-2 text-center">
        <%= link_to root_path do %>
          <%= image_tag 'logo.jpg', size:"80x80" %>
        <% end %>
      </li>
      <li><%= link_to 'Home', root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Cart', cart_items_path %></li>
        <li><%= link_to "Likes", items_path(order_sort: 1) %></li><!--item/indexで遷移元により表示するアイテムを変えたい為、リンクにパラメーターを付与-->
        <li><%= link_to 'Addresses', addresses_path %></li>
        <li class="mt-auto mb-2 text-center">
          <%= link_to users_path do %>
            <%= attachment_image_tag current_user, :image, fallback: "toppu.png", size: "60x60", class:"rounded-circle" %>
          <% end %>
        </li>
        <% if current_user.shop_active == true %>
          <li class="text-center"><%= link_to 'Create Shop', new_shop_path, class:"btn btn-success w-50 mb-2 btn-sm" %></li>
        <% else %>
          <li class="text-center"><%= link_to 'Create Item', new_item_path, class:"btn btn-success w-50 mb-2 btn-sm" %></li>
          <li class="text-center"><%= link_to 'My Shop', shop_path(current_user.shop.id), class:"btn btn-primary w-50 mb-2 btn-sm" %></li>
        <% end %>
        <li class="text-center"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"btn btn-danger w-50 mb-2 btn-sm" %></li>

      <% else %>
        <li class="mt-auto text-center"><%= link_to 'Sign In', user_session_path, class:"btn btn-primary w-50 mb-2 btn-sm" %></li>
        <li class="text-center"><%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-success w-50 mb-2 btn-sm" %></li>
      <% end %>
    </ul>
  </nav>
</div>