<div class="page_title d-flex">
  <h1>Cart</h1>
  <%= link_to 'Continue Shopping', root_path, class:'btn btn-primary btn-sm ml-auto' %>
  <%= link_to 'Deselect all Items', cart_item_destroy_all_path, method: :delete, data: {confirm: '本当にカートを空にしてよろしいですか？'}, class:'btn btn-danger btn-sm ml-3' %>
</div>
<%= render'parts/user/notice' %>

<table class="table">
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
          <td>
            <%= link_to item_path(cart_item.item.id) do %>
              <%= attachment_image_tag cart_item.item, :image, fallback: "no_image.jpg", size: "50x50" %>
            <% end %>
          </td>
          <td>
            <%= link_to item_path(cart_item.item.id) do %>
              <%= cart_item.item.name.truncate(12) %>
            <% end %>
          </td>
        <td><%= TAX(cart_item.item.price) %></td><!-- TAX = application_helperから引用 -->
        <td>
          <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true do |f| %>
            <%= f.select :amount, (1..cart_item.item.stock) %>
            <%= f.submit "Change", class:"btn btn-outline-success btn-sm bg-white" %>
          <% end %>
        </td>
        <td><%= TAX(cart_item.item.price * cart_item.amount) %></td>
        <% @sum += (cart_item.item.price * cart_item.amount) %>
        <td><%= link_to 'Deselect Item', cart_item_path(cart_item), data: {confirm: "#{cart_item.item.name}をカートから削除しますか？"}, method: :delete, class:'btn btn-outline-danger bg-white btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @sum == 0 %>
  <p class="text-center h1 mt-5">There is no contents in the cart</p>
<% else %>
  <div class="d-flex mt-5">
    <p class="h4 mr-4 ml-auto">Sub Total</p>
    <p class="h4"><%= TAX(@sum) %></p>
    <div><%= link_to '　Next　', new_order_path, class:'btn btn-primary mx-5' %></div>
  </div>
<% end %>