<div class="page_title">
  <h1>Edit</h1>
  <small class="mt-auto ml-2"><%= link_to "Back", :back %></small>
</div>
<div class="container m-5">
  <%= form_with model: @user, url: users_path, local: true do |f| %>
    <%= render 'parts/error_message', model: f.object %>

    <div class="form-inline col-form-label-sm ml-5">
      <%= f.label :'ユーザー画像　　　　　　　　　' %>
      <%= f.attachment_field :image, class:"form-control-file", class:"form-inline" %>
    </div>

    <div class="form-inline col-form-label-sm ml-5">
      <%= f.label :'名前　　　　　　　　　　　　　' %>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <div class="form-inline col-form-label-sm ml-5">
      <%= f.label :'フリガナ　　　　　　　　　　　' %>
      <%= f.text_field :name_kana, class:"form-control" %>
    </div>

    <div class="form-inline col-form-label-sm ml-5">
      <%= f.label :'メールアドレス　　　　　　　　' %>
      <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="form-inline col-form-label-sm ml-5">
      <%= f.label :'郵便番号　（ハイフン無し）　　' %>
      <%= f.text_field :postal_code, class:"form-control" %>
    </div>

    <div class="form-inline col-form-label-sm ml-5">
      <%= f.label :'住所　　　　　　　　　　　　　' %>
      <%= f.text_field :address, class:"form-control", size: 65 %>
    </div>

    <div class="form-inline col-form-label-sm ml-5">
      <%= f.label :'携帯番号　（ハイフン無し）　　' %>
      <%= f.text_field :telephone_number, class:"form-control" %>
    </div>

    <div class="form-inline col-form-label-sm ml-5">
      <%= f.label :'ニックネーム　　　　　　　　　' %>
      <%= f.text_field :nickname, class:"form-control" %>
    </div>

    <div class="form-group">
      <span>　　　　　　　　　　　　　　　</span>
      <%= f.submit "　Update　", class:"btn btn-success ml-5 btn-lg" %>
    </div>
  <% end %>
</div>