<div class="page_title">
  <h1><%= "#{@page_title}　Items" %></h1>
</div>

<div class="container my-4">
  <div class="d-flex flex-wrap">
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <div class="mr-5 mt-3">
          <div><%= attachment_image_tag item, :image, fallback: "no_image.jpg", size: "220x220" %></div>
          <div class="text-center">
            <span class="text-dark"><%= item.name.truncate(10) %></span><br>
      <% end %>
            <%= TAX(item.price).truncate(10) %><br><!-- application_helperから引用 -->
            <small>
              <%= link_to shop_path(item.shop) do %>
                <%= item.shop.name.truncate(10) %>
              <% end %>
              <%= item.created_at.strftime('%m/%d(%H:%M)') %>
            </small>
          </div>
      </div>
    <% end %>
  </div>
</div>