<div class="page_title">
  <h1>Create Item</h1>
</div>

<div class="container m-5">
  <%= form_with model: @item, url: items_path, local: true do |f| %>
    <%= render 'parts/user/error_message', model: f.object %>
    <div class="form-inline col-form-label-sm m-4">
      <%= f.label :'アイテム画像　　　　　　　　　' %>
      <%= f.attachment_field :image, class:"form-inline" %>
      <small>※220X220px推奨</small>
    </div>

    <div class="form-inline col-form-label-sm m-4">
      <%= f.label :'アイテム名　　　　　　　　　　' %>
      <%= f.text_field :name, class:"form-control", placeholder:'〇〇〇〇', autofocus: true %>
    </div>

    <div class="form-inline col-form-label-sm m-4">
      <%= f.label :'アイテム説名　　　　　　　　　' %>
      <%= f.text_area :introduction, class:"form-control", placeholder:'〇〇〇〇です', size: "60x4" %>
    </div>

    <div class="form-inline col-form-label-sm m-4">
      <%= f.label :'アイテム価格（税抜き）　　　' %>
      ￥<%= f.text_field :price, class:"form-control", placeholder:'1000(半角)', autofocus: true %>
    </div>

    <div class="form-inline col-form-label-sm m-4 ">
      <%= f.label :'アイテムジャンル　　　　　　　' %>
      <%= f.collection_select(:item_genre_id, @item_genres, :id, :name, prompt: "選択して下さい", class: 'form-control') %>
      <%= f.submit "　Create　", class:"btn btn-success w-25 btn-sm ml-5" %>
    </div>
  <% end %>
</div>