<!DOCTYPE html>
<html>
  <head>
    <title>FreeMall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex">
    <% if admin_signed_in? %>
      <%= render'parts/admin/sidebar' %>
      <main class="bg-secondary w-100 text-white">
        <%= yield %>
      </main>
    <% else %>
      <%= render'parts/user/sidebar' %>
      <div class="w-100">
        <%= render'parts/user/header' %>
        <main>
          <%= yield %>
        </main>
      </div>
    <% end %>
  </body>
</html>