<!DOCTYPE html>
<html>
  <head>
    <title>FreeMall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex">
    <div class="bg-white">
      <div class="m-2"><%= image_tag 'logo.jpg', size:"80x80" %></div>
      <nav>
        <ul>
          <li><%= link_to "Sign_Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
    <div class="w-100">
      <header class="bg-white">iiiiiiiiiiii</header>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
